.barra1 {
    position: relative;
    width: 243px;
    height: 16px;
    transform: translate(110%);
    background: #184A10;
    border-radius: 40px;
}

.barra2 {
    position: relative;
    width: 468px;
    height: 16px;
    transform: translate(108%);
    background: #184A10;
    border-radius: 40px;
}

.iconeLogo {
    position: relative;
    left: 48%;
}