.barra1 {
    position: relative;
    width: 243px;
    height: 16px;
    background: #184A10;
    border-radius: 40px;
    left: 25%;
    
}

.barra2 {
    position: relative;
    width: 468px;
    height: 16px;
    left: 40%;
    background: #184A10;
    border-radius: 40px;
}

.iconeLogo {
    position: relative;
    left: 49%;
}
