.card {
    width: 80px;
    height: 70px;
    padding: 0rem;
    background: rgba(198, 198, 198, 0.34);
    border-radius: 20px;
    backdrop-filter: blur(100px);
    border-bottom: 0px solid rgba(255, 255, 255, 0.440);
    border-left: 0px  rgba(255, 255, 255, 0.545) outset;
    box-shadow: -40px 50px 30px rgba(0, 0, 0, 0.280);
    transform: skewX(0deg);
    transition: .3s;
    overflow: hidden;
    color: white;
    margin: 0 auto;
  }
  
  .card:hover {
    width: 300px;
    height: 110px;
    transform: skew(0deg);
  }
  
  .align {
    padding: 0rem;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-self: flex-start;
    text-align: center;
  }
  
  
  
  .card h1 {
    text-align: center;
    color: #ffffff;
    text-shadow: -10px 5px 10px rgba(0, 0, 0, 0.573);
  }


  
  