.group2 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.input2 {
    font-size: 16px;
    padding: 10px 10px 10px 5px;    
    display: block;
    width: 200px;
    border: none;
    border-bottom: 1px solid #315cfd;
    background: transparent;
}

.input2:focus {
    outline: none;
}

label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.input2:focus~label,
.input2:valid~label {
    top: -20px;
    font-size: 14px;
    color: #5264AE;
}

.bar2 {
    position: relative;
    display: block;
    width: 200px;
}

.bar2:before,
.bar2:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #315cfd;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar2:before {
    left: 50%;
}

.bar2:after {
    right: 50%;
}

.input2:focus~.bar2:before,
.input2:focus~.bar2:after {
    width: 50%;
}

.highlight2 {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

.input2:focus~.highlight2 {
    animation: inputHighlighter 0.3s ease;
}

@keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}