.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 41px 65px;
    gap: 93px;
    position: absolute;
    width: 1440px;
    height: 126px;
    left: 0px;
    top: 0px;
    background: #008000;
}

.icone {
    width: 125px;
    height: 44px;
    
}
